.contact {
  padding: 100px 60px;
  background: #0f172a;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.contact form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact input,
.contact textarea {
  padding: 14px;
  margin: 12px 0;
  border-radius: 8px;
  border: none;
  background: #1e293b;
  color: white;
}

.contact button {
  margin-top: 15px;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact button:hover {
  background: #0ea5e9;
}
