.education {
  padding: 70px 20px;
  /* background-color: #ffffff; */
}

.education h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  color: #cbd5e1;
}

.education-grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  gap: 25px;
}

.education-card {
  background: #1f2937;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  border-left: 5px solid #10b981; /* Green accent */
}

.education-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.education-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #38bdf8;
}

.institution {
  font-weight: 600;
  color: #10b981;
  margin-bottom: 5px;
}

.duration {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.education-card p {
  line-height: 1.6;
  color: #cbd5e1;
}
