body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}
section {
  padding: 100px 20px;
  max-width: 1100px;
  margin: 0 auto;
}
