body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #1e293b;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}
